@font-face {
  font-family: Mulish;
  src: url(/assets/fonts/Mulish-Italic-VariableFont_wght.ttf);
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}

header {
  width: 100%;
  height: auto;
  background-color: #abfcfc;
  padding: var(--spacing-small) var(--spacing-small);
  font-family: Mulish;
}

h1 {
  text-align: center;
}

.navbar {
  display: flex;
  gap: var(--spacing-medium);
  align-items: center;
  justify-content: center;
  padding-top: var(--spacing-x-small);
}

a:hover {
  text-decoration: underline;
}
