.course-conatiner {
  font-family: Mulish;
  padding: 1rem;
}

.course-list {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(201, 201, 201); */
  border-radius: 5px;
  max-width: 350px;
  gap: var(--spacing-x-small);
  padding: 1rem;
  justify-content: space-between;
}

.course-list__item {
  display: flex;
  background-color: rgb(201, 201, 201);
  border-radius: 5px;
  padding: var(--spacing-small);
}

.course-list__text-container {
  flex-basis: 80%;
}

.course-title__course {
  flex-grow: 1;
}

.course-list__container {
  display: flex;
}
.course-list__students {
  display: flex;
  flex-direction: column;
}

.course-list__buttons-container {
  flex-basis: 20%;
  display: flex;
  justify-content: end;
  align-items: start;
}

.edit-add-course__button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 0.4rem;
}

button {
  border: none;
  background-color: rgb(201, 201, 201);
  font-size: x-large;
}
.add-course__button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 0.4rem;
}

.add-course__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
